aiofiles
aiohttp
apscheduler
bing_image_downloader
bs4
deepai
daxxhub
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
googlesearch-python
heroku3
httpx[http2]==0.27.2
img2pdf
kurigram~=2.2.6
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==11.2.1
psutil
ntgcalls
youtube_search
pytube
py-tgcalls==2.2.3
pycryptodome
pydub
pyfiglet
pykeyboard
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
search-engine-parser
spotipy
safoneapi
speedtest-cli 
SpeechRecognition
telegraph
tgcrypto
unidecode
wget
youtube-search-python
yt-dlp~=2025.6.9
